<ul class="list-group" >
    <li class="list-group-item"><a href="@Url.Action("Innovation","Category")">Innovation</a></li>
    <li class="list-group-item"><a href="@Url.Action("Social","Category")">Social</a></li>
    <li class="list-group-item"><a href="@Url.Action("Software","Category")">Software</a></li>
    <li class="list-group-item"><a href="@Url.Action("Trends","Category")">Trends</a></li>

</ul>